vti_encoding:SR|utf8-nl
vti_dependenciesood:IR|0
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServiceMarkUrlDirExec vti_ServerEmailTransport
vti_webservertype:SR|msiis
vti_textindexood:IR|0
vti_themedefault:SR|global 101
vti_navbuttonnextlabel:SR|Next
vti_categories:VR|旅行 費用報告 商務 競爭 目標/目的 主意 雜項 等待中 VIP 處理中 計劃 排程
vti_timecreated:TR|15 Dec 1997 16:39:40 +0800
vti_extenderversion:SR|4.0.2.2717
vti_navbuttonprevlabel:SR|Back
vti_borderdefault:SR|tl
vti_approvallevels:VR|內容檢閱 法務檢閱 程式碼檢閱 管理員檢閱
vti_longfilenames:IX|1
vti_oldestcompatibleversion:SR|2.0.0.0
vti_copytimestamp_[WebPost]/http\://residence.src.ncu.edu.tw/chan:TR|13 May 1999 10:04:42 +0800
vti_welcomenames:VX|index.html index.htm Default.htm
vti_restartmanual:IX|0
vti_copytimestamp_http\://residence.src.ncu.edu.tw/chan:TR|13 May 1999 10:02:06 +0800
vti_defaultcharset:SR|big5
vti_defaultlanguage:SR|zh
vti_title:SR|Tai-Wai Chan Personal Homepage
vti_autorecalc:IX|1
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_navbuttonhomelabel:SR|Home
vti_htmlextensions:SX|.htm.html.htx.stm.html.htm.shtml.shtm.htt.asp.alx.asa.
vti_missingoverlays:VX|
vti_missingoverlaylabels:VX|
vti_insecureserverurl:SR|http://140.115.113.51
vti_disableautoimgsizeexts:SX|.asp
vti_httpdversion:SX|Microsoft-IIS/4.0
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.idc.txt.
vti_navbuttonuplabel:SR|Up
vti_ignorekeyboard:IR|1
