vti_encoding:SR|utf8-nl
/lab/index/chan/chan2.html:family.html
mailto\:chan@src.ncu.edu.tw>chan@src.ncu.edu.tw</a></dl></h4>:add.html add_c.html
link to:_vti_pvt/_x_todoh.htm _vti_pvt/_x_todo.htm
http\://www.acm.org/:member.html
http\://www.aaai.org/>american association of artificial intelligence</a><li>association of computers assisted instruction of roc<li><a href =:member.html
http\://www.aace.org/:member.html
