vti_encoding:SR|utf8-nl
vti_author:SR|LISA\\www
vti_cachedlinkinfo:VX|S|arcbanna.gif S|arcsepd.gif S|arcbul1a.gif S|arcbul2a.gif S|arcbul3a.gif S|arcnavha.gif S|arcnavhh.gif S|arcnavhp.gif S|arcnavha.gif S|arcnavhp.gif S|arcnavhh.gif S|archomea.gif S|archomeh.gif S|archomep.gif S|arcnexta.gif S|arcnexth.gif S|arcnextp.gif S|arcpreva.gif S|arcprevh.gif S|arcprevp.gif S|arcupa.gif S|arcuph.gif S|arcupp.gif
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|07 Jan 1998 22:49:33 +0800
vti_filesize:IX|2095
vti_modifiedby:SR|LISA\\www
vti_cacheddtm:TX|07 Jan 1998 22:49:33 +0800
vti_backlinkinfo:VX|
vti_cachedhasbots:BR|false
vti_extenderversion:SR|3.0.2.1105
vti_timelastmodified:TR|07 Jan 1998 22:49:33 +0800
